<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="sgbn" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />
  </head>
  
  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">
      var WRInitTime=(new Date()).getTime();
    </script>
    


    <div id="content">
      <h1 class="title">{{ page.title }}</h1>

      <hr style="width: 100%; height: 3px;">
      <br>
      
      {{ content }}

      <div id="disqus_thread"></div>
      <script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'sgbn'; // required: replace example with your forum shortname
	
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      <div class="footer">
	<hr style="width: 100%; height: 1px;">
	<div align="center"><i><font size="-1">Copyright © sgbn - 23th Sep 2012</font></i></div>
	<br>
      </div>
    </div>
  </body>
  
</html>



        
